@model List<NewsManagement.Application.Contrasts.NewsCategory.NewsCategoryTreeViewModel>

<div class="classynav">
	<ul>
		<li class="active"><a asp-action="Index" asp-controller="Home">خانه</a></li>
		@foreach (var item in Model.OrderBy(t=>t.title))
		{
			<li>
				<a href="/Category/@item.id/@item.Url">@item.title</a>
				@if (item.subs.Count() != 0)
				{
					<ul class="dropdown">
						@foreach (var sub in item.subs)
						{
							<li><a href="/Category/@sub.id/@sub.Url">@sub.title</a></li>
						}

					</ul>
				}

			</li>
		}

		<li><a asp-controller="Video" asp-action="Index">ویدیوها</a></li>
	</ul>
</div>